# =====================
# Python
# =====================
**/.venv/
**/__pycache__/
*.py[cod]

# =====================
# macOS
# =====================
.DS_Store

# =====================
# VS Code / JetBrains
# =====================
.vscode/
.idea/

# =====================
# React / Node
# =====================
**/node_modules/
**/dist/
**/dist-ssr/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =====================
# YOLO / ML
# =====================
ml/face_detection/runs/
ml/face_detection/datasets/
ml/face_detection/yolo11n.pt

# =====================
# CNN / ML 2 
# =====================
ml/emotion_detection/emotion_cnn.pth

# (optional)
# Ignore trained weights too
# *.pt

ml/emotion_detectionV2/
ravdess_cropped_frames_128px/
emotion_cnn_baseline.pth 
emotion_cnn_raf_affectnet.pth